<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="/" class="text-nowrap logo-img">
            <img src="dist/images/logos/logo_nav.png" width="180" alt="" />
        </a>
        <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
        </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar>
        <ul id="sidebarnav">
            <!-- ============================= -->
            <!-- Home -->
            <!-- ============================= -->
            <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
            </li>
            <!-- =================== -->
            <!-- Dashboard -->
            <!-- =================== -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="/" aria-expanded="false">
                    <span>
                    <i class="ti ti-device-mobile-plus"></i>
                    </span>
                    <span class="hide-menu">Instâncias</span>
                </a>
            </li>
            <!-- ============================= -->
            <!-- Apps -->
            <!-- ============================= -->
            <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Ações</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/sendmessage" aria-expanded="false">
                    <span>
                    <i class="ti ti-send"></i>
                    </span>
                    <span class="hide-menu">SendMessage</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/sendbulkmessage" aria-expanded="false">
                    <span>
                    <i class="ti ti-message-circle-check"></i>
                    </span>
                    <span class="hide-menu">Send Bulk Message</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/sendbulkfiles" aria-expanded="false">
                    <span>
                    <i class="ti ti-file-code"></i>
                    </span>
                    <span class="hide-menu">Send Bulk Files</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/sendmultiplesession" aria-expanded="false">
                    <span>
                    <i class="ti ti-message-2-check"></i>
                    </span>
                    <span class="hide-menu">Send Multiple Session</span>
                </a>
            </li>
             <li class="sidebar-item">
                <a class="sidebar-link" href="/sendmultiplesessionfile" aria-expanded="false">
                    <span>
                    <i class="ti ti-file-filled"></i>
                    </span>
                    <span class="hide-menu">Send Multiple Session File</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/setwebhook" aria-expanded="false">
                    <span>
                    <i class="ti ti-brand-stackshare"></i>
                    </span>
                    <span class="hide-menu">Set Webhook</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/getwebhook" aria-expanded="false">
                    <span>
                    <i class="ti ti-network"></i>
                    </span>
                    <span class="hide-menu">Get Webhook</span>
                </a>
            </li>
             <li class="sidebar-item">
                <a class="sidebar-link" href="/assistant" aria-expanded="false">
                    <span>
                    <i class="ti ti-robot"></i>
                    </span>
                    <span class="hide-menu">Asistente Virtual</span>
                </a>
            </li>
             <li class="sidebar-item">
                <a class="sidebar-link" href="https://documenter.getpostman.com/view/7432615/2s93mBvJ9W" target="_blank" aria-expanded="false">
                    <span>
                    <i class="ti ti-book-2"></i>
                    </span>
                    <span class="hide-menu">Documentação</span>
                </a>
            </li>
            {{!-- <li class="sidebar-item">
            <a class="sidebar-link" href="./app-contact2.html" aria-expanded="false">
                <span>
                <i class="ti ti-list-details"></i>
                </span>
                <span class="hide-menu">Contact List</span>
            </a>
            </li> --}}
           
            <!-- ============================= -->
            <!-- PAGES -->
            <!-- ============================= -->
           
        </ul>
        </nav>
        <div class="fixed-profile p-3 bg-light-secondary rounded sidebar-ad mt-3">
        <div class="hstack gap-3">
            <div class="john-img">
            <img src="dist/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt="">
            </div>
            <div class="john-title">
            <h6 class="mb-0 fs-4 fw-semibold">Mathew</h6>
            <span class="fs-2 text-dark">Designer</span>
            </div>
            <button class="border-0 bg-transparent text-primary ms-auto" tabindex="0" type="button" aria-label="logout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="logout">
            <i class="ti ti-power fs-6"></i>
            </button>
        </div>
        </div>  
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>