<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Title -->
    <title>Script7 Admin Sistemas</title>
    <!-- Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="dist/images/logos/favicon.png" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="dist/libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <!-- Core Css -->
    <link rel="stylesheet" href="dist/css/style-dark.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
    <link rel="stylesheet" href="dist/libs/select2/dist/css/select2.min.css">

  </head>
  <body data-theme="dark" data-body="{{user.id_user}}">
    <!-- Preloader -->
    <div class="preloader">
      <img src="dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      {{#if user}}

          <!-- Sidebar Start -->
          {{>_aside}}
          <!-- Sidebar End -->
          <!-- Main wrapper -->
          <div class="body-wrapper">
            <!-- Header Start -->
            {{>_header}}
            <!-- Header End -->
            <div class="container-fluid">
            {{{body}}}
            </div>
          </div>

      {{else}}

          {{{body}}}

      {{/if}}
      
    </div>

  
    <!-- Import Js Files -->
    <script src="dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- core files -->
    <script src="dist/js/app.min.js"></script>
    <script src="dist/js/app.dark.init.js"></script>
    <script src="dist/js/app-style-switcher.js"></script>
    <script src="dist/js/sidebarmenu.js"></script>
    <script src="dist/js/custom.js"></script>
    <!-- current page js files -->
    <script src="dist/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script src="dist/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="dist/libs/select2/dist/js/select2.min.js"></script>
    <script src="dist/js/forms/select2.init.js"></script>
    <script src="dist/js/app/sc.js"></script>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>

  </body>
</html>




